[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggfittext"]
	path = ggfittext
	url = https://github.com/wilkox/ggfittext
[submodule "gggenes"]
	path = gggenes
	url = https://github.com/wilkox/gggenes
[submodule "treemapify"]
	path = treemapify
	url = https://github.com/wilkox/treemapify
